body {
		font-family: "Helvetica Neue";
}

#div {
	background-color: #dfe3ee;
	position: fixed;
	width: 100%;
	height: 100%
}

#forgotPassEmail {
	border-color: black;
}

/* Login Form */
#login-form {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	position: fixed;
	top: 1.5em;
	left: 55%;
}

#login-form input[type="password"],
#login-form input[type="email"] {
	width: 13em;
}

#login-form > * {
	margin: 0 0 0 1em;
}

#login-form > :first-child {
	margin: 0 0 0 0;
}

@media screen and (max-width: 480px) {
	#login-form {
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	#login-form input[type="password"],
	#login-form input[type="email"] {
		width: 100%;
	}

	#login-form > * {
		margin: 1.25em 0 0 0;
	}

	#login-form .message {
		bottom: -1.5em;
		font-size: 0.9em;
		height: 1em;
		left: 0;
		line-height: inherit;
		margin-top: 0;
		position: absolute;
	}
}	

#forgotPassword {
	color: #DCDCDC;
	font-size: 0.9em;
	margin: 0.5em 0 0 1em;
}

#forgotPassword:hover {
	text-decoration: underline;
} 

/* Header */

#header {
	position: fixed;
	width: 100%;
	height: 9%;
	background-color: #001427;
	font-family: "Helvetica Neue";
}

#header h1 {
	font-size: 3.25em;
	margin-top: 1%;
	color: white;
	position: fixed;
	left: 20%;
}

#header h3 {
	font-size: 1.25em;
	margin-top: 5%;
}

#header a {
	color: inherit;
}

@media screen and (max-width: 736px) {
	#header h1 {
		font-size: 2em;
	}

	#header p {
		font-size: 1em;
	}
}

@media screen and (max-width: 480px) {
	#header {
		margin: 0 0 1em 0;
	}
}

/* Signup Form */

#signup-form {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: block;
	position: fixed;
	left: 55%;
	top: 35%;
	width: 100%;
	height: 100%;
}

#signup-form input[type="text"],
#signup-form input[type="password"],
#signup-form input[type="email"],
#signup-form input[type="firstName"],
#signup-form input[type="lastName"] {
	width: 18em;
}

#signup-form > * {
	margin: 0 0 0 0em;
}

#signup-form > :first-child {
	margin: 0 0 0 0;
}

@media screen and (max-width: 480px) {

	#signup-form {
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	#signup-form input[type="type"],
	#signup-form input[type="password"],
	#signup-form input[type="email"],
	#signup-form input[type="firstName"],
	#signup-form input[type="lastName"] {
		width: 100%;
	}

	#signup-form > * {
		margin: 1.25em 0 0 0;
	}

	#signup-form .message {
		bottom: -1.5em;
		font-size: 0.9em;
		height: 1em;
		left: 0;
		line-height: inherit;
		margin-top: 0;
		position: absolute;
	}
}

/* Form */

form {
	margin: 0 0 2em 0;
}

form .message {
	text-decoration: none;
	-moz-transition: opacity 0.2s ease-in-out, -moz-transform 0.2s ease-in-out;
	-webkit-transition: opacity 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
	-ms-transition: opacity 0.2s ease-in-out, -ms-transform 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
	-moz-transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
	height: 1em;
	line-height: 2.75em;
	opacity: 0;
}

form .message:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}

form .message:before {
	margin-right: 0.5em;
}

form .message.visible {
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

form .message.success {
	color: #1cb495;
}

form .message.success:before {
	content: '\f00c';
}

form .message.failure {
	color: #ff2361;
}

form .message.failure:before {
	content: '\f119';
}

label {
	color: #fff;
	display: block;
	font-size: 0.9em;
	font-weight: 700;
	margin: 0 0 1em 0;
}

@-moz-keyframes focus {
	0% {
		-moz-transform: scale(1);
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}

	50% {
		-moz-transform: scale(1.025);
		-webkit-transform: scale(1.025);
		-ms-transform: scale(1.025);
		transform: scale(1.025);
	}

	100% {
		-moz-transform: scale(1);
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}
}

@-webkit-keyframes focus {
	0% {
		-moz-transform: scale(1);
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}

	50% {
		-moz-transform: scale(1.025);
		-webkit-transform: scale(1.025);
		-ms-transform: scale(1.025);
		transform: scale(1.025);
	}

	100% {
		-moz-transform: scale(1);
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}
}

@-ms-keyframes focus {
	0% {
		-moz-transform: scale(1);
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}

	50% {
		-moz-transform: scale(1.025);
		-webkit-transform: scale(1.025);
		-ms-transform: scale(1.025);
		transform: scale(1.025);
	}

	100% {
		-moz-transform: scale(1);
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes focus {
	0% {
		-moz-transform: scale(1);
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}

	50% {
		-moz-transform: scale(1.025);
		-webkit-transform: scale(1.025);
		-ms-transform: scale(1.025);
		transform: scale(1.025);
	}

	100% {
		-moz-transform: scale(1);
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="firstName"],
input[type="lastName"],
select,
textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-moz-transition: border-color 0.2s ease, background-color 0.2s ease;
	-webkit-transition: border-color 0.2s ease, background-color 0.2s ease;
	-ms-transition: border-color 0.2s ease, background-color 0.2s ease;
	transition: border-color 0.2s ease, background-color 0.2s ease;
	background-color: white;
	border-radius: 6px;
	border: none;
	border: solid 1px black; /* Form border color */
	color: inherit;
	display: block;
	outline: 0;
	padding: 0 1em;
	text-decoration: none;
	width: 100%;
}

input[type="text"]:invalid,
input[type="password"]:invalid,
input[type="email"]:invalid,
input[type="firstName"]:invalid,
input[type="lastName"]:invalid,
select:invalid,
textarea:invalid {
	box-shadow: none;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="firstName"]:focus,
input[type="lastName"]:focus,
select:focus,
textarea:focus {
	-moz-animation: focus 0.1s;
	-webkit-animation: focus 0.1s;
	-ms-animation: focus 0.1s;
	animation: focus 0.1s;
	background-color: white;
	border-color: white; /* Form border color after clicking on it */
}

.select-wrapper {
	text-decoration: none;
	display: block;
	position: relative;
}

.select-wrapper:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}

.select-wrapper:before {
	color: rgba(255, 255, 255, 0.35);
	content: '\f078';
	display: block;
	height: 2.75em;
	line-height: 2.75em;
	pointer-events: none;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 2.75em;
}

.select-wrapper select::-ms-expand {
	display: none;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="firstName"],
input[type="lastName"],
select {
	height: 2.5em; /* Login form height */
}

textarea {
	padding: 0.75em 1em;
}

input[type="checkbox"],
input[type="radio"] {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	display: block;
	float: left;
	margin-right: -2em;
	opacity: 0;
	width: 1em;
	z-index: -1;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.75);
	cursor: pointer;
	display: inline-block;
	font-size: 1em;
	font-weight: 400;
	padding-left: 2.4em;
	padding-right: 0.75em;
	position: relative;
}

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
	background: rgba(255, 255, 255, 0.125);
	border-radius: 6px;
	border: solid 2px rgba(255, 255, 255, 0.35);
	content: '';
	display: inline-block;
	height: 1.65em;
	left: 0;
	line-height: 1.58125em;
	position: absolute;
	text-align: center;
	top: 0;
	width: 1.65em;
}

input[type="checkbox"]:checked + label:before,
input[type="radio"]:checked + label:before {
	background: #1cb495;
	border-color: #1cb495;
	color: #ffffff;
	content: '\f00c';
}

input[type="checkbox"]:focus + label:before,
input[type="radio"]:focus + label:before {
	border-color: #1cb495;
	box-shadow: 0 0 0 2px #1cb495;
}

input[type="checkbox"] + label:before {
	border-radius: 6px;
}

input[type="radio"] + label:before {
	border-radius: 100%;
}

::-webkit-input-placeholder {
	color: #A9A9A9 !important;
	opacity: 1.0;
}

:-moz-placeholder {
	color: #A9A9A9 !important;
	opacity: 1.0;
}

::-moz-placeholder {
	color: #A9A9A9 !important;
	opacity: 1.0;
}

:-ms-input-placeholder {
	color: #A9A9A9 !important;
	opacity: 1.0;
}

.formerize-placeholder {
	color: #A9A9A9 !important;
	opacity: 1.0;
}