#container {
	width: 100%;
	height: 100%;
	margin: 0 0 0 0;
	max-width: inherit;
	max-height: inherit;
}

#header {
	/*position: fixed;*/
	/* fallback for old browsers */
	background: #FF512F;
	/* Chrome 10-25, Safari 5.1-6 */
	background: -webkit-linear-gradient(to left, #F09819, #FF512F);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background: linear-gradient(to left, #F09819, #FF512F);
	font-family: "Helvetica Neue";
	color: white;

	padding: 20px 0 20px 0;
	margin-bottom:15px;
}

#body {
	background: white;
	width: inherit;
	height: 70%;
}

#bottom {
	max-height: inherit;
	/* fallback for old browsers */
	background: #FF512F;
	/* Chrome 10-25, Safari 5.1-6 */
	background: -webkit-linear-gradient(to left, #F09819, #FF512F);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background: linear-gradient(to left, #F09819, #FF512F);
}

#bottom p {
	text-align: center;
	font-family: "Helvetica Neue";
	color: white;
}

#div {
	background-color: #dfe3ee;
	position: fixed;
	width: 100%;
	height: 100%
}

#forgotPassword {
	color: white;
	margin-left: 8%;
}

.signInButton {
    border: none;
    outline: 0;
    padding: 10px;
    color: white;
    background-color: #000;
    font-size: 14px;
    border-radius: 20px;
    width: 150%;
    align-self: center;
}

.signInButton:hover {
    background-color: white;
    color: black;
}

#signUp * {
	margin-bottom: 10px;
}

#signUpCol h1 {
	margin-bottom: 25px;
}