.col-container {
    display: table; /* Make the container element behave like a table */
    width: 100%; /* Set full-width to expand the whole page */
    height: 100%;
}

#header {
	/*position: fixed;*/
	width: 100%;
	height: 9%;
	background-color: black;
	font-family: "Helvetica Neue";
	top: 0;
	display: inline-block;
}

.card {
    box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.2);
    max-width: 20%;
    margin: 10% auto auto auto;
    text-align: center;
    border-radius: 20px;
    /*display: table-cell;  Make elements inside the container behave like table cells */

    display: inline-block;
}

.skillsCard {
    box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.2);
    max-width: 40%;
    margin: 10% auto 10% auto;
    text-align: center;
    border-radius: 20px;
    padding: 15px;
}

* {box-sizing: border-box}

.container {
  width: 0%;
  /*background-color: #ddd;*/
  border-radius: 20px;
}

.skills {
  text-align: right;
  padding-right: 5%;
  line-height: 40px;
  color: white;
}

.courses {
	box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.2);
    max-width: 20%;
    margin: auto auto auto 72%;
    position: fixed;
    text-align: left;
    border-radius: 15px;
    padding: 15px;
    /*display: table-cell;  Make elements inside the container behave like table cells */

    display: inline-block;
}

.bio {
    box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.2);
    max-width: 20%;
    margin: auto auto auto 10%;
    position: fixed;
    text-align: left;
    border-radius: 15px;
    padding: 15px;
}

.info {
	font-size: 16px;
	color: grey;
}

.title {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 80%;
    font-size: 18px;
    border-radius: 20px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover, a:hover {
    opacity: 0.7;
}