#header {
    /*position: fixed;*/
    /* fallback for old browsers */
    background: #FF512F;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to left, #F09819, #FF512F);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to left, #F09819, #FF512F);
    font-family: "Helvetica Neue";
    color: white;

}

#link {
    color:white;
}

.card {
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
