.info {
    color: #505050;
    font-size: 15px;
}

.introCard {
    /*box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.2);*/
    background-color: #EEF1EF;
    margin: auto;
    text-align: center;
    border-radius: 5px;
    padding-bottom: 3%;
}

/*.elevatorPitch {
    font-size: 16px;
    color: grey;
    text-align: center;
    padding: 2% 8% 2% 8%;
}*/

.name {
    padding-top: 10px;
}

/* Each project, group or people card */
.card {
    /*box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.2);*/
    margin: 10px;
    text-align: center;
    width: 350px;
    max-height: 200px;
    padding: 15px;
    color: black;
    /*word-wrap: break-word;*/

}

.cardDescription {
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.card:hover {
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.description {
    background-color: #EEF1EF;
    margin: 3% auto auto auto;
    text-align: left;
    border-radius: 5px;
    padding: 15px;
    word-wrap: break-word;
}

.information {
    /*box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.2);*/
    background-color: #EEF1EF;
    margin: auto;
    display: block;
    margin: 3% auto auto auto;
    text-align: left;
    border-radius: 5px;
    padding: 15px;
    word-wrap: break-word;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    max-width: 100%;
    white-space: nowrap;
    font-size: 16px;
    border-radius: 20px;
}

.requestTeamButton {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    max-width: 100%;
    white-space: nowrap;
    font-size: 16px;
    border-radius: 20px;
    margin-top: 3%;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

.button:hover, .cardImInterestButton:hover, a:hover, .requestTeamButton:hover {
    /*opacity: 1;*/
    background: linear-gradient(to left, #F09819, #FF512F);
    outline:0;
}

.cardImInterestButton {
    border: none;
    outline: 0;
    margin: 5px;
    padding: 10px;
    color: white;
    background-color: #000;
    text-align: center;
    font-size: 14px;
    border-radius: 20px;
    width: 50%;
    height: 50%;
    align-self: center;
    outline:0;
}

.projectCheckmark {
    width: 5%;
    height: 5%;
    margin-left: 5px;
}
